@model BuzzerParty.Models.IndexViewModel
@{
    ViewData["Title"] = @Model.AppName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A buzzer system for parties.">
    <meta name="author" content="Bill Runge">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/site.css" rel="stylesheet" />

    <title>@Model.AppName</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/signalr.js"></script>
    <script src="js/jwt-decode.js"></script>
    <script src="js/buzzer.js"></script>
</body>
</html>
