@model BuzzerParty.Models.IndexViewModel
@{
    ViewData["Title"] = @Model.AppName;
}
<div id="TitleHeader">@Model.AppName</div>
<div id="GameInfo"></div>
<div id="UserInfo"></div>
<br />
<ul id="Buzzes"></ul>
<button type="submit" class="dynamic-button" id="DynamicButton"></button>